# Dependencias
node_modules/

# Logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker volumes
mongo_data/
redis_geo_data/
redis_pop_data/
